<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Contact Manager</span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="/contactus">ContactUs</a>
    <a mat-button routerLink="/about">AboutUs</a>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>help</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>info</mat-icon>
    </button> -->
  </mat-toolbar>