<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card" style="width: 18rem;">
                <img src={{profile?.picture}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">{{profile?.title}} {{profile?.firstName}} {{profile?.lastName}}</h2>
                    <p class="card-text">{{profile?.email}}</p>
                    <p class="card-text">{{profile?.phone}}</p>
                    <p class="card-text">{{profile?.gender}}</p>
                    <p class="card-text">{{profile?.dateOfBirth}}</p>
                </div>
            </div>
        </div>
    </div>
</div>